.btn-menu {
    color: #F86666;
    background-color: white;
    border: none;
    outline: 0;
}
.btn-link {
    background-color: white;
    border: none;
}
.font {
    font-size: 23px;
    color: #F86666;
    letter-spacing: 2px;
}
.font:hover {
    font-size: 23px;
    color: #F86666;
    letter-spacing: 2px;
    cursor: pointer;
}

.menu-items-list {
    width: 40%;
}

.container-menu-fundo {
    width: 100%;
}