.border-list {
    border: 1px solid #F86666;
    border-left: none;
    border-right: none;
}
.font-list {
    color: #F86666;
}
.font-list:hover {
    text-decoration: underline;
    cursor: pointer;
}